{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CTF task | Сколько цветных пикселей?</title>

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="image-container">
        <img src="{{ image_url }}" alt="Upload your photo" style ="max-height:800px;min-height:500px;"><br>
        <p>{{ pixel_color }} пикселей больше на {{ black_while_diff }}</p>
    </div>
    <div class="form-container">
        <form action="upload/" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form }}<br>
            {% if hex_color_requested %}
                <p>Найдено {{ hex_color_count }} пикселей цвета {{ hex_color }}</p>
            {% endif %}
            <button type="submit">Submit</button>
        </form>

    </div>

</body>
</html>